header {
    height: 50px;
    font-size: larger;
    text-align: center;
    color:black;
}

.calculatorInSine {
    text-align: center;
}
#submitButton {
    color:rgb(90, 225, 90);
}
#stergeButton {
    display:flex;
    margin-left: 665px;
    margin-top: 10px;
    color:rgb(230, 80, 80);
}


