html {
	scroll-behavior: smooth;
}
header {
	position:fixed;
	width:100%;
	top:0%;
	right:0%;
	display:flex;
	align-items: center;
	transition: all .50s ease;
	height: 60px;
	z-index: 2;
	justify-content: center;
	background: rgb(255, 255, 255);
}

.navbar {
	justify-content: space-between;
	padding:10px 15%;
	display:flex;
  }
.navbar a{
	font-size:1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
  }
  
ul {
	list-style-type: none; 
  }
  
li a {
	font-family: 'Oswald', sans-serif;
	color:rgb(26, 23, 23);
	letter-spacing: 2px;
  }
li a {
	--c: rgb(165, 131, 46); 
	--s: .15em;
	line-height:1.1em;
	padding-bottom: calc(2.1*var(--s));
	transition: .5s;
  }

li a:hover {
	--_p: 100%;
	color: var(--c);
  }
.endorse {
	position: absolute;
	top: 92%;
	width: 99%;
	text-align: center;
	font-size: 13px;
	font-family: 'Oswald';
	color:rgb(28, 19, 19);
	letter-spacing:-0.1px;
    cursor: default;
  }

.headerText {
	position: absolute;
  	top: 25%;
 	width: 99%;
    right:30%;
  	text-align: center;
  	font-size: 55px;
    font-family: 'Oswald';
    color: rgb(255, 254, 254);
    text-shadow:rgb(174, 171, 171) 1px 0 5px;
    text-transform: uppercase;
    cursor: default;
}  


.subHeaderText{
	position: absolute;
  	top: 40%;
    right:64%;
    width: 30%;
  	text-align: center;
	font-family: 'Oswald';
	font-size: 18px;
	line-height: 1.75rem;
	letter-spacing: 0.15px;
	font-weight: 500;
	color: rgb(255, 255, 255);
    text-shadow:rgb(42, 41, 37) 1px 0 5px;
    text-align: justify;
    text-justify: inter-word;
    cursor: default;
}


.abVid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
  }

.contactMe {
    position: absolute;
  	top: 80%;
 	width: 99%;
  	text-align: center;
	font-family: 'Oswald';
	font-size: 1.15rem;
	line-height: 1.75rem;
	letter-spacing: 0.15px;
	font-weight: 500;
	color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

.contactMe {
	--c: rgb(165, 131, 46); 
	--s: .15em;
	line-height:1.1em;
	padding-bottom: calc(2.1*var(--s));
	transition: .5s;
  }

.contactMe:hover {
	--_p: 100%;
	color: var(--c);
    font-size:1.25rem;
  }

  .logoSocials{
	word-spacing: 10px;
	margin-left: 10px;
}

.logoSoc {
	--s: .15em;
	line-height:1.1em;
	padding-bottom: calc(2.1*var(--s));
	transition: .5s;
  }

.logoSoc:hover {
	--_p: 100%;
	font-size: 14px;
	cursor:pointer;
  }
  
.headerText::before{
	content: '';
	position: absolute;
	left: 0; bottom: -2px;
	width: 1%;
	height: 1px;
	background-color: rgb(165, 131, 46);
}

.headerText:hover:before {
	width: 50%;
    
}

.headerText::before {
	transition: width 0.35s;
    
}


