@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ballet:opsz@16..72&family=Borel&family=DM+Sans:ital,opsz,wght@0,9..40,200;1,9..40,300&family=Dancing+Script&family=Exo+2&family=Great+Vibes&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans&family=Oswald:wght@400;500&family=Pacifico&family=Poppins:wght@200;400&family=Quicksand&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}

.homePg {
  height: 100vh;
  background-color: #1e1e1e;
  background-image: url(./img/bg3.png);
  background-size: cover;

}

.navbar {
  width: 100%;
  z-index: 3;
  padding: 25px 0;
  transition: all 0.3s ease;
  animation: fade-up 0.5s;
  position: fixed;
}

a {
  text-decoration: none;
}

.navbar.sticky {
  background: transparent;
  padding: 10px 0;
}
.navbar .content4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .logo a {
  display: flex;
  font-size: 25px;
  font-family: "Lobster", cursive;
  color: rgb(249, 250, 249);
  transition: all 0.3s ease;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #cacdca;
  font-size: 15px;
  margin-left: 45px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
}
.menu-list li a:hover {
  color: #fff;
}

.navbar .logo a:hover {
  color: #cacdca;
}

.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}

@media (max-width: 1230px) {
  .content4 {
    padding: 0 30px;
  }
}
@media (max-width: 1100px) {
  .content4 {
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .content4 {
    padding: 0 15px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    display: none;
  }
  .navbar.sticky {
    background: #202020;
    padding: 10px 0;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 30px;
  }

  .navbar.sticky {
    background: #202020;
    padding: 10px 0;
  }
}

.textPic {
  padding-left: 10%;
  font-size: 120px;
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: -1px;
  cursor: default;
}

.textHomePg {
  padding-top: 15%;
}

.textDeveloper {
  padding-left: 25%;
  font-size: 120px;
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: -1px;
  cursor: default;
  margin-top: -35px;
  position: relative;
}

.subtextPic {
  position: relative;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  color: #bcbcbc;
  font-weight: 200;
  padding-left: 25.5%;
  cursor: default;
  width: 35%;
  letter-spacing: 0.8px;
}

.brandsHomepg {
  position: absolute;
  bottom: 40%;
  right: 16px;
  font-size: 60px;
  z-index: 2;
}

.ichomepg {
  transform: translateX(-50%);
  color: #a9a3a3;
}

.ichomepg {
  --c: #ffffff;
  --s: 0.15em;
  line-height: 1.1em;
  padding-bottom: calc(2.1 * var(--s));
  transition: 0.5s;
}
.lineBl {
  display: none;
}

.ichomepg {
  --c: #ffffff;
  --s: 0.15em;
  line-height: 1.1em;
  padding-bottom: calc(2.1 * var(--s));
  transition: 0.5s;
}
.ichomepg:hover {
  --_p: 100%;
  color: var(--c);
}

.column {
  float: left;
  width: 33.33%;
  height: 628px;
  background-color: white;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.abtMe {
  height: 1000px;
  background-image: url(./img/test4.png);
}

.parentSpace {
  width: 100%;
  display: block;
}

.leftAbout {
  float: left;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 92px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.92px;
  padding-top: 15%;
  padding-left: 10%;
}

.right {
  float: right;
  width: 30%;
  color: #bcbcbc;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-left: 10%;
  padding-top: 16%;
  padding-right: 10%;
  text-align: justify;
  text-justify: inter-word;
}
.right2 {
  float: right;
  width: 30%;
  color: #b7b7b7;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 5%;
}

footer {
  height: 50px;
  display: flex;
  padding: 0 10%;
  padding-top: 5%;
}

.logoFt {
  font-size: 2em;
  font-family: "Lobster", cursive;
  color: #fff;
  width: 33.33%;
  text-align: left;
  cursor: default;
}

.middle {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  width: 33.33%;
  text-align: center;
  word-spacing: 10px;
}

.rightFooter {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  width: 33.33%;
  text-align: right;
  word-spacing: 10px;
}

.myProjects {
  height: 1200px;
  padding-top: 20px;
  background-image: linear-gradient(#4d3e3e, #918c8c);
  background-size: 2px 73%;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.image {
  flex-basis: 40%;
}

.titleProj {
  font-size: 3em;
  font-family: "Manrope", sans-serif;
  color: #f5f1f1;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
  letter-spacing: -1px;
  cursor: default;
}

.dateProj {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
  color: #b19386;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: -1px;
  cursor: default;
  margin-top: -5px;
  padding-bottom: 15px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-left: 7%;
}

.image2 {
  max-width: 100%;
}
.image2 {
  flex-basis: 40%;
}

.text2 {
  font-size: 20px;
  padding-right: 20px;
  cursor: default;
}

.pic1 {
  -webkit-box-shadow: 0px 0px 100px -45px rgba(8, 8, 8, 0.73);
  -moz-box-shadow: 0px 0px 100px -45px rgba(8, 8, 8, 0.73);
  box-shadow: 0px 0px 100px -45px rgba(8, 8, 8, 0.73);
  border-radius: 15px;
  filter: brightness(90%);
  transition: 0.5s ease-in-out;
}

.pic1:hover {
  filter: brightness(100%);
}
.pic2:hover {
  filter: brightness(100%);
}

.pic2 {
  -webkit-box-shadow: 0px 0px 100px -45px rgba(8, 8, 8, 0.73);
  -moz-box-shadow: 0px 0px 100px -45px rgba(8, 8, 8, 0.73);
  box-shadow: 0px 0px 100px -45px rgba(8, 8, 8, 0.73);
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  filter: brightness(90%);
}

.titleText {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
  color: #b19386;
  font-weight: 300;
  padding-left: 1%;
  letter-spacing: -1px;
}

.titleText2 {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
  color: #b19386;
  font-weight: 300;
  margin-bottom: 50px;
  letter-spacing: -1px;
  padding-right: 2%;
  float: right;
}

.effHoverUnder {
  text-decoration: none;
  color: white;
}

.effHoverUnder {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.effHoverUnder::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.effHoverUnder:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 992px) {
  .textPic {
    padding-top: 15%;
    font-size: 80px;
  }

  .textDeveloper {
    padding-left: 30%;
    font-size: 80px;
  }
  .subtextPic {
    position: relative;
    font-size: 15px;
    padding-left: 30.5%;
    width: 50%;
  }
  .brandsHomepg {
    position: absolute;
    bottom: 40%;
    right: 16px;
    font-size: 40px;
    z-index: 2;
  }

  .abtMe {
    height: 1000px;
  }

  .parentSpace {
    width: 100%;
  }

  .leftAbout {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.92px;
    padding-top: 15%;
    width: 80%;
    text-align: center;
  }

  .right {
    width: 80%;
    color: #bcbcbc;
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-top: 5%;
  }
  .right2 {
    width: 80%;
    color: #bcbcbc;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    padding-top: 3%;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
  }

  footer {
    height: 50px;
    display: flex;
    padding: 0 5%;
  }

  .logoFt {
    font-size: 1em;
    font-family: "Lobster", cursive;
    color: #fff;
    width: 33.33%;
    text-align: left;
    cursor: default;
  }

  .middle {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    width: 33.33%;
    text-align: center;
  }

  .rightFooter {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    width: 33.33%;
    text-align: right;
    word-spacing: 10px;
  }

  .rightFooter span {
    display: none;
  }

  .titleText {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
  }

  .titleText2 {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: -1px;
    text-align: center;
  }

  .container {
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 100%;
  }

  .image {
    flex-basis: 80%;
  }
  .container2 {
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }

  .image2 {
    max-width: 100%;
  }
  .image2 {
    flex-basis: 80%;
  }

  .text2 {
    font-size: 20px;
    padding-right: 20px;
    cursor: default;
  }
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}

@media only screen and (max-width: 600px) {
  .homePg {
    height: 100vh;
    background-image: url(./img/home600PX.png);
  }

  .textPic {
    padding-top: 35%;
    padding-left: 10.5%;
    font-size: 50px;
    font-family: "Manrope", sans-serif;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: default;
  }

  .textDeveloper {
    padding-left: 30%;
    font-size: 50px;
    font-family: "Manrope", sans-serif;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: default;
    margin-top: -25px;
  }
  .subtextPic {
    position: relative;
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    color: #bcbcbc;
    font-weight: 200;
    padding-left: 25.5%;
    cursor: default;
    width: 50%;
    letter-spacing: 1px;
    padding-left: 30.5%;
  }
  .brandsHomepg {
    position: absolute;
    bottom: 50%;
    right: 16px;
    font-size: 30px;
    z-index: 2;
  }
  .myProjects {
    background-color: #1e1e1e;
    height: 850px;
    padding-top: 20px;
    background-image: linear-gradient(#a01515, #918c8c);
    background-size: 2px 0%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .abtMe {
    height: 800px;
  }

  .parentSpace {
    width: 100%;
  }

  .leftAbout {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.92px;
    padding-top: 5%;
    width: 80%;
    text-align: center;
  }

  .right {
    width: 80%;
    color: #bcbcbc;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-top: 10%;
    text-align: center;
  }
  .right2 {
    width: 75%;
    color: #bcbcbc;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-top: 16%;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
  }

  footer {
    height: 20px;
    display: flex;
    padding: 0 10%;
    padding-top: 5px;
  }

  .logoFt {
    font-size: 1em;
    font-family: "Lobster", cursive;
    color: #fff;
    width: 33.33%;
    text-align: left;
    cursor: default;
  }

  .middle {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    width: 33.33%;
    text-align: center;
    word-spacing: 10px;
  }

  .rightFooter {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    width: 33.33%;
    text-align: right;
    word-spacing: 10px;
  }

  .titleText {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
  }

  .titleText2 {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: -1px;
    text-align: center;
  }

  .container {
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 100%;
  }

  .image {
    flex-basis: 80%;
  }
  .container2 {
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }

  .image2 {
    max-width: 100%;
  }
  .image2 {
    flex-basis: 80%;
  }

  .text2 {
    font-size: 20px;
    padding-right: 20px;
    cursor: default;
  }
}

@media (max-width: 480px) {
  .homePg {
    height: 100vh;
    background-image: url(./img/homepgTEL.png);
  }

  .textHomePg {
    padding-top: 50%;
    text-align: center;
  }

  .lineBl {
    display: static;
  }

  .textPic {
    padding-top: 0%;
    padding-left: 0%;
    font-size: 40px;
    font-family: "Manrope", sans-serif;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: default;
  }

  .textDeveloper {
    padding-left: 0%;
    font-size: 40px;
    margin-top: -10px;
  }

  .subtextPic {
    width: 60%;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 0%;
    margin: auto;
  }

  .brandsHomepg {
    font-size: 20px;
    bottom: 50%;
  }

  .myProjects {
    background-color: #1e1e1e;
    height: 650px;
    padding-top: 20px;
    background-image: linear-gradient(#a01515, #918c8c);
    background-size: 2px 0%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .abtMe {
    height: 700px;
  }

  .parentSpace {
    width: 100%;
  }

  .leftAbout {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.92px;
    padding-top: 15%;
    width: 80%;
    text-align: center;
  }

  .right {
    width: 80%;
    color: #bcbcbc;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-top: 16%;
  }

  .right2 {
    width: 75%;
    color: #bcbcbc;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    padding-top: 16%;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
  }

  footer {
    height: 30px;
    display: flex;
    padding: 0 5%;
    padding-top: 10px;
  }

  .logoFt {
    font-size: 1em;
    font-family: "Lobster", cursive;
    color: #fff;
    width: 33.33%;
    text-align: left;
    cursor: default;
  }

  .middle {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    width: 33.33%;
    text-align: center;
  }

  .rightFooter {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    width: 33.33%;
    text-align: right;
    word-spacing: 10px;
  }

  .rightFooter span {
    display: none;
  }

  .titleText {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
  }

  .titleText2 {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: -1px;
    text-align: center;
  }

  .container {
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 100%;
  }

  .image {
    flex-basis: 80%;
  }
  .container2 {
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }

  .image2 {
    max-width: 100%;
  }

  .image2 {
    flex-basis: 80%;
  }

  .text2 {
    font-size: 20px;
    padding-right: 20px;
    cursor: default;
  }
}

@media only screen and (width: 1366px) and (height: 768px) {
  .textPic {
    font-size: 75px;
    padding-left: 12%;
  }

  .textDeveloper {
    font-size: 75px;
  }
  .subtextPic {
    width: 30%;
  }
  .myProjects {
    height: 1000px;
    padding-top: 20px;
    background-image: linear-gradient(#4d3e3e, #918c8c);
    background-size: 2px 73%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
